footer{
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../images/fundo-rodape.png) no-repeat center top;
    margin-top: 20px;
}

footer p:first-child {
    margin: 2rem 0 0 0;
    padding: 2px 10px;
}

footer .twitter{
    padding: 10px;
    border-radius: 0.5rem;

    background-color: #55ACEE;
    color: white;
    text-decoration: none;
}

footer .twitter img{
    position: relative;
    top: 0.5rem;
    width: 2rem;
}


#social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social p{
    margin-bottom: 1rem;
}

#social .dev1 .dev2{
    margin: 0.5rem;
}

#social a{
    text-decoration: none;
}

#social img{
    width: 2rem;
    margin-left: 0.5rem;
}
