*{
    margin: 0;
    padding: 0;
}

body{
    font: 15px "Lato", Arial, sans-seriff;
    background-color: #fff;
}

#container{
    position: relative;
    width: 50%;
    margin: 3rem auto 0 auto;

    font-size: 16px;
}

#container #prog-comit, #organizers{
    margin-top: 2rem;
    border: 2px solid rgb(207, 203, 203);
    border-radius: 5px;
    padding: 3rem;
    line-height: 2.5rem;
}

#container #prog-comit h1, #organizers h1{
    margin-bottom: 2.5rem;
}


/*Footer*/
footer{
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../images/fundo-rodape.png) no-repeat center top;
    margin-top: 20px;
}

footer p:first-child {
    margin: 2rem 0 0 0;
    padding: 2px 10px;
}

#social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social p{
    margin-bottom: 1rem;
}

#social .dev1 .dev2{
    margin: 0.5rem;
}

#social a{
    text-decoration: none;
}

#social img{
    width: 2rem;
    margin-left: 0.5rem;
}

